$primary-color: #0076e9;
$secondary-color: #98a0a8;

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

.box {
  width: 80%;
  margin: 0 auto;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
