.content {
  background: #fff;
  margin: 3rem auto;
  &__description {
    padding: 2rem;
  }
  &__title {
    font-size: 2rem;
    margin: 0;
  }
  &__editable-item {
    font-size: 1.2rem;
    margin: 10px 0;
    position: relative;
    display: block;
    &--text {
      background: #f6f7f9;
      padding: 3px 8px;
    }
    .edit-icon {
      background: #ecf1f5;
      padding: 3px;
    }
    .popup {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
