.header {
  background: #fff;
  margin-top: 70px;
  &__logout {
    display: flex;
    justify-content: flex-end;
    &--btn {
      &:hover {
        color: #fff;
        background: $primary-color;
      }
      border: 1px solid $primary-color;
      border-radius: 4px;
      padding: .6rem 1.5rem;
      color: $primary-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      margin: 1rem;
    }
  }
  &__upload {
    display: flex;
    justify-content: center;
    &--btn {
      &:hover {
        color: #fff;
        background: $secondary-color;
      }
      border: 1px solid $secondary-color;
      border-radius: 4px;
      padding: .6rem 1.5rem;
      color: $secondary-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      margin: 1rem;
    }
  }
  &__data {
    display: flex;
  }
  &__profile-pic {
    background: url('../images/profile_image.jpg');
    background-size: cover;
    width: 170px;
    height: 135px;
    margin: 20px;
  }
  &__info {
    flex-grow: 1;
  }
  &__top-block {
    display: flex;
    justify-content: space-between;
    &__username {
      font-weight: bold;
      font-size: 1.5rem;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__username-info {
      margin: 5px 0;
      font-weight: bold;
      font-size: .9rem;
    }
    &__username-rating {
      margin-top: 30px;
      display: flex;
      width: 200px;
      justify-content: space-around;
      &__stars {
        // stars style in here
      }
      &__reviews {
        font-size: .9rem;
        font-weight: bold;
      }
    }
  }
  &__bottom-block {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f4f5f6;
    &__navigation {
      width: 50%;
    }
    &__icon--plus {

      display: inline-block;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: bold;
      &__item {
        padding: 15px 0;
      }
      .active {
        border-bottom: 3px solid $primary-color
      }
    }
    &__followers {
      margin-top: 15px;
      margin-right: 15px;
      align-items: center;
    }
  }
}
