@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$base-font-color: #3f454a;

body {
  background: #f5f8f9;
  color: $base-font-color;
  font-family: 'Open Sans', sans-serif;
}

@import 'ionicons/ionicons.scss';
@import 'base.scss';
@import 'header.scss';
@import 'content.scss';
@import 'media.scss';
