@media (max-width: 768px) {
  body {
    font-size:21px;
  }
  .header {
    background: transparent;
    margin: 0;
    &__profile-pic {
      margin: 0 auto;
    }
    &__logout--btn {
      border: none;
      font-size: 16px;
    }
    &__upload--btn {
      display: none;
    }
    &__data {
      display: flex;
      flex-direction: column;
    }
    &__top-block {
      flex-direction: column;
      &__username {
        text-align: center;
      }
    }
    &__top-block__username-rating {
      flex-direction: column-reverse;
      padding: 0 20px;
      margin: 0;
    }
    &__bottom-block {
      flex-direction: column-reverse;
      &__followers {
        padding: 0 20px;
        margin: 15px 0;
      }
      &__navigation {
        background: white;
        width: auto;
        padding: 0 20px;
      }
    }
    &__top-block__username-rating__stars {
      color: $primary-color;
    }
    &__top-block__username-info {
      padding: 0 20px;
    }

  }
  .box {
    width: 100%;
  }
}
